extends: default

rules:
  brackets: disable
  document-start: disable
  indentation: disable
  line-length: disable
  new-line-at-end-of-file: disable
  trailing-spaces: disable
  truthy:
    allowed-values: ["true", "false", "on"]
